@{
    Layout = null;
    }

@model sqliteEx.Areas.Home.Models.UserModel

<table class="">
    <tbody>
        @foreach (sqliteEx.Areas.Home.Models.User objUser in this.Model.UserList)
        { 
            <tr>
                <td style="width: 33%;">@objUser.Id</td>
                <td style="width: 33%;">@objUser.UserName</td>
            </tr>
        }
        
    </tbody>
</table>