th[data-sort]{
  cursor:pointer;
}
.tapcontent{
	margin-left:10px;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
.green{
	color:green;
}
thead th {
    background: #724a10;
    color: #fff;
}
thead
{
    position: absolute;
}
table th,table td{
    width:130px;//fixed width
}
Table {
		table-layout: fixed;
		width:100%;
	}
	#simpleTable3 {
		width: inherit;
	}
#simpleTable th,#simpleTable td{
    width:150px;//fixed width
	word-break: break-all;
	word-wrap : break-word
}



@media only screen and (max-width: 1024px) {
    
	table th,table td{
    //width:70px;//fixed width
	}
	
	
	#simpleTable th,#simpleTable td{
		//width:68px;//fixed width
	}
}

@media only screen and (max-width: 1240px) {
    
	
	
	
}
@media only screen and (max-width: 880px) {
    
	
	
}