th[data-sort]{
  cursor:pointer;
}
.tapcontent{
	margin-left:10px;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
.green{
	color:green;
}
thead th {
    background: #724a10;
    color: #fff;
}
thead
{
    position: absolute;
}
table th,table td{
    width:100px;//fixed width
}
#simpleTable th,#simpleTable td{
    width:150px;//fixed width
	word-break: break-all;
	word-wrap : break-word
}

.td1{
    padding-top:50px;//fixed width
}

@media only screen and (max-width: 1024px) {
    #simpleTable {
		table-layout: fixed;
		width:795px;
	}
	table th,table td{
    width:70px;//fixed width
	}
	#simpleTable .td1{
		padding-top:100px;//fixed width
	}
	#simpleTable th,#simpleTable td{
		width:68px;//fixed width
	}
}
